In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import IPython

%matplotlib inline
sns.set()

In [3]:
#データの読み込み
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

    データメモ
    データ詳細
    レコード数:13,731
    列数:3,807
    ・ "ID"列： 各レコードのID
    ・"Score"列： 予測対象となる薬物動態パラメータ
    ・"col1"～"col3805"列： 化合物記述子

In [4]:
#サイズ確認
print("trainデータのサイズ",train_data.shape)

trainデータのサイズ (13731, 3807)

In [5]:
#カラムの表示
train_data.columns

Index(['ID', 'Score', 'col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7',
       'col8',
       ...
       'col3796', 'col3797', 'col3798', 'col3799', 'col3800', 'col3801',
       'col3802', 'col3803', 'col3804', 'col3805'],
      dtype='object', length=3807)

In [7]:
#メモ基本数値

#各データの型
train_data.dtypes

ID           int64
Score      float64
col1         int64
col2       float64
col3       float64
col4         int64
col5       float64
col6       float64
col7       float64
col8       float64
col9         int64
col10      float64
col11        int64
col12        int64
col13        int64
col14      float64
col15      float64
col16      float64
col17        int64
col18      float64
col19        int64
col20      float64
col21      float64
col22      float64
col23      float64
col24      float64
col25      float64
col26        int64
col27      float64
col28      float64
            ...
col3776    float64
col3777    float64
col3778      int64
col3779      int64
col3780    float64
col3781    float64
col3782    float64
col3783      int64
col3784    float64
col3785    float64
col3786    float64
col3787      int64
col3788      int64
col3789      int64
col3790    float64
col3791      int64
col3792    float64
col3793    float64
col3794    float64
col3795    float64
col3796    float64
col3797      int64
col3798    float64
col3799    float64
col3800    float64
col3801    float64
col3802      int64
col3803    float64
col3804    float64
col3805      int64
Length: 3807, dtype: object

In [8]:
#欠損値のありなし
train_data.isnull().sum()

ID         0
Score      0
col1       0
col2       0
col3       0
col4       0
col5       0
col6       0
col7       0
col8       0
col9       0
col10      0
col11      0
col12      0
col13      0
col14      0
col15      0
col16      0
col17      0
col18      0
col19      0
col20      0
col21      0
col22      0
col23      0
col24      0
col25      0
col26      0
col27      0
col28      0
          ..
col3776    0
col3777    0
col3778    0
col3779    0
col3780    0
col3781    0
col3782    0
col3783    0
col3784    0
col3785    0
col3786    0
col3787    0
col3788    0
col3789    0
col3790    0
col3791    0
col3792    0
col3793    0
col3794    0
col3795    0
col3796    0
col3797    0
col3798    0
col3799    0
col3800    0
col3801    0
col3802    0
col3803    0
col3804    0
col3805    0
Length: 3807, dtype: int64

In [9]:
train_data.describe()

,ID,Score,col1,col2,col3,col4,col5,col6,col7,col8,...,col3796,col3797,col3798,col3799,col3800,col3801,col3802,col3803,col3804,col3805
count,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,...,13731.000000,13731.000000,1.373100e+04,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000
mean,13715.888428,2.024839,0.000583,4.173750,0.718538,7.142816,12.532379,0.603704,4.345228,0.052560,...,1.215428,0.106329,2.184837e-07,0.115421,25.719365,19.682047,0.014347,1.879396,0.997325,1.035831
std,7891.540358,0.923629,0.026981,0.268635,0.118122,26.261926,9.907825,0.169981,0.281740,0.136567,...,0.443918,0.320774,1.478012e-05,0.033461,28.326643,9.833533,0.118921,1.520451,0.000822,1.755988
min,5.000000,-1.000000,0.000000,2.955000,0.386000,0.000000,0.000000,0.106000,3.457000,-0.399000,...,0.045000,0.000000,0.000000e+00,0.049000,0.000000,4.039000,0.000000,-2.055000,0.991000,0.000000
25%,6908.500000,1.378398,0.000000,3.994500,0.628000,0.000000,4.821500,0.463000,4.101000,-0.048000,...,0.910000,0.000000,0.000000e+00,0.093000,1.798500,12.817500,0.000000,0.797000,0.997000,0.000000
50%,13686.000000,2.034227,0.000000,4.184000,0.725000,0.000000,10.626000,0.606000,4.344000,0.037000,...,1.181000,0.000000,0.000000e+00,0.109000,18.147000,17.383000,0.000000,1.651000,0.997000,0.000000
75%,20528.000000,2.659013,0.000000,4.374000,0.809000,4.000000,18.507500,0.741000,4.582000,0.143000,...,1.476000,0.000000,0.000000e+00,0.130000,39.595500,24.082000,0.000000,2.763500,0.998000,2.000000
max,27463.000000,4.673205,2.000000,4.893000,0.958000,525.000000,72.823000,0.949000,5.099000,0.561000,...,3.785000,2.000000,1.000000e-03,0.505000,254.304000,70.825000,1.000000,11.219000,0.999000,13.000000